* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100%;
}

.navbar-div {
  position: relative;
  padding: 3.5rem 6rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.nav-logo {
  position: absolute;
  top: -55%;
  right: 84%;
}

.nav-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7rem;
  padding-left: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  color: #ee0979;
}

.logo-download {
  font-size: 110%;
  font-weight: 600;

  /*to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/*------ Navbar Underline Animation ------*/

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 2px;
  height: 2px;
  background: #ee0979;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*------------------------------*/

.heading-div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-1,
.heading-2,
.heading-3 {
  text-align: center;
}

.heading-1 {
  font-size: 6.5rem;
}

.heading-2 {
  font-size: 3.8rem;
}

.heading-3 {
  font-size: 2.4rem;
  margin-top: 0.7rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 600;
}

.span-name {
  background: linear-gradient(to right, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* .span-name::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10%;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  animation: blink 0.6s infinite ease;
} */

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-location {
  font-size: 150%;
  color: black;

  /*to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

.logo-div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo-linkedin {
  font-size: 5rem;
  color: #ee0979;
}

.logo-github {
  font-size: 5rem;
  color: #ee0979;
  margin-left: 1rem;
}

.arrow-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.logo-arrow {
  /* font-size: 500%; */
  font-size: 5rem;
  color: black;
  cursor: pointer;
}

/*--------------- PROJECTS ---------------*/

.section-projects {
  width: 100%;
  padding: 2.5rem 0;
  background: #f8f9fa;
}

.heading-projects {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.main-container {
  width: 100%;
  margin-top: 2rem;
  /* margin: 0 auto; */
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin-bottom: 3px;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
  margin-bottom: 8px;
}

.demo-link {
  padding: 1.5px 5px;
  border: 1px solid #ee0979;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
  color: #ee0979;
}

/*--------------- FOOOTER ---------------*/

footer {
  padding: 7rem 0 0 0;
  background-color: #f8f9fa;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 7rem 0;
  border-top: 1px solid black;
}

.foot-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.foot-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.foot-logos {
  font-size: 2.5rem;

  /*to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 4px;
}

.foot-copyright {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin-top: 7rem;
}

.copyright-text {
  font-size: 1.3rem;
}

/*--------------- HAMBURGER MENU ---------------*/

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  font-weight: 600;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Make this absolute positioned
 at the top left of the screen */

#menu {
  position: absolute;
  /* width: 300px; */
  width: 100%;
  /* margin: -100px 0 0 -50px; */
  margin: -110px 0 0 -50px;

  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */

#menuToggle input:checked ~ ul {
  transform: none;
}
